{
  "rules":{
    "no-unused-vars": "warn",
    "linebreak-style": 0,
    "padded-blocks": 0,
    "no-console": "warn"
  },
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:react/recommended",  
    "plugin:react-hooks/recommended",
    "plugin:jest/recommended"
  ]
}

