.video-list-item{
  display: flex;
  max-width: 40rem;
  border-bottom: 1px solid silver;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.video-list-item__name{
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-list-item__size{
  width: 25%;
  text-align: right;
}

@media screen and (max-width: 40rem) {
  .video-list-item{
    width: 100%;
  }
}
